<h1>Welcome to Meal Planner</h1>

<p>/meals - GET to view all</p>
<p>/meals - POST to add</p>
<p>/meals/:id - GET to view</p>
<p>/meals/:id - DELETE to remove</p>

<a href="/meals">View all meals</a>
